
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Roboto:wght@500&display=swap');

.card{
    
    
    width: 1000px;
    height: auto;
   
    background-color: white;
    border-radius: 20px;
}

.row:nth-child(even) {
background-color: rgb(85, 85, 85);
}
.green{
    background-color: rgb(160, 128, 1)!important;
}

.card button {
    height: 50%;
    align-self: center;
    margin-right: 10px;
}
.card button:hover {
    cursor: pointer
}
.row{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px black;
}
.row p {
    font-family: 'Roboto', sans-serif;
}

.head{
    
    display: flex;
    justify-content: space-between;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.head p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.hide{
    display: none;
}
.not-possible{
    color: white;
    
    font-size: 25px;
   
    margin:0px;
}

table {
    font-family: 'Dosis', sans-serif;
    
    border: none;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    width:100%;
    table-layout: fixed;
    color: rgb(255, 255, 255)
}
td{
    padding: 12px;
}
tr{
    transition: 00.3s;
    background-color: rgb(119, 119, 119);
}


th{
    padding: 20px;
    
}
tr:nth-child(even){
    background-color: rgb(73, 73, 73);
}

tr:hover{
    background-color: rgb(175, 175, 175);
    cursor: pointer;
}


.t-head{
    background-color: rgb(255, 255, 255);
    color:black;
}
.t-head:hover{
    background-color: rgb(255, 255, 255);
}
.trash {
    color : rgb(136, 3, 3);
    font-size: 23px;
    padding: 10px;
    margin-left: 10px;
}

.trash:hover {
    cursor: pointer;
    
}

.edit-user{
    font-size: 20px;
    margin-bottom: 7px;
    margin-right: 5px;
    color:rgb(94, 255, 0)
}

/* search sec */

.search-sec{
    position: relative;
   

}
.loupe{
    position: absolute;
    left:220px;
    font-size: 20px;
    animation: popbyright 300ms ease-out backwards;
}
.searchbar:focus + span {
    display: none;
}
@keyframes popbyright {
    from {
      transform: translateX(20px);
      opacity: 0;
    }
    to {
      transform: translateX(0px);
      opacity: 1;
    }
  }
