

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-profile {
    font-size: 250px;
}
.Block{
    text-align: center;
    font-family: 'Dosis', sans-serif;
    color:rgb(207, 207, 207)
}

